@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FirstLab.Business.Models.Request.ChangePasswordRequest
@{
    ViewBag.Title = "Edit personal info";
}
<div>
    <form method="post" asp-controller="User" asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="PreviousPassword" class="form-label">Введите прошлый пароль:</label><br />
            <input asp-for="PreviousPassword" class="form-control" />
            <span asp-validation-for="PreviousPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label">Введите новый пароль:</label><br />
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>
</div>
