@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class="pocentry">
    <h1>Вы не зарегистрированы!</h1>
    <a asp-area="" asp-controller="User" asp-action="Login">Перейти на страницу регистрации</a>
</div>

